header{
    background-color: #1f2937;
    font-family: roboto;
    color: #F9FAF8;
}

.header-logo{
    color: #F9FAF8;
    display: flex;
    flex: 1;
}
.logo{border-radius: 50%;}

.header-links{
    display: flex;
    flex: 1;
    font-weight: 18px;
    justify-content: flex-end;  
 }

 nav a{
    display: inline-flex;
    flex: 1;
     color: #e5e7eb;
    text-decoration: none;
    padding-inline: 10px;
    border-radius: 10px;  
 }
  button{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 90px;
    cursor: pointer;
 }

 .second-layer{
    display: flex;
    align-items: center;
    gap: 200px;
    margin: 20px;
    
 }
h1{font-weight: 900;}
 .hero main{
    display: flex;
    flex:1; 
 }
 .photo-holder{
     display: flex;
    align-items: center;
    gap: 100px;
    margin: 20px;
 }
 
 section{
    text-align: center;
    justify-content: center;
     border-radius: 10px;
 }
 h2{
    font-weight: 900;
    color: #1f2937;
    font-size: 36px;
 }
 .items-set{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
 }
.item{
    border-radius: 12px;
    height: 100px;
    width: 180px;
}


.customer-review{
    background-color: #e5e7eb;
    padding: 20px;
}
.quote-text{
    color:#1f2937 ;
    font-size: 36px light;
    font-style:  italic;
}   


.customer-review{
   justify-content: center;
   text-align: center;
   display: flex;
   
}

.call-to-action{
   display: flex;
   justify-content: center;
   text-align: center;
}
 .inner{
    background-color: #3882f6;
    border:none;
    margin: 80px;
    padding: 20px;
    border-radius: 10px;
    width: 650px;
    justify-content: center;
    text-align: center;
    color: #e5e7eb;
 }

 .cta-button{
    border: 1px solid #F9FAF8;
    margin-left: 40px;
    cursor: pointer;
 }


 footer{
display: flex;
flex: 1;
background-color: #1F2937;
font-family:roboto ;
text-align: center;
justify-content: center;
padding-left: 200px;
 color: #F9FAF8;
 font-size: 20px light;
 
}
  
 
   
    
    
 